{% extends '../base.html' %} 
{% load static %} 
{% block title %} Join Quiz {% endblock %} 
{% block css %}
<link rel="stylesheet" href="{% static 'authcss.css' %}" />
{% endblock %} {% block body %}

<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Join Quiz Now</header>
      <form action="{% url 'JoinQuiz' %}" method="post">
        {% csrf_token %}
        <div class="field input-field">
          <input
            type="text"
            placeholder="Quiz ID"
            name="quizID"
            class="input"
            required
          />
        </div>

        <div class="field button-field">
          <button>Join</button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %} {% block js %}
<script src="{% static 'js/authform.js' %}"></script>
{% endblock %}
